@{
    ViewData["Title"] = "Home Page";
}

<link href="~/esbuild/build/app.css" type="text/css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div id="root"></div>
@* <div id="another"></div> *@

<div>
    <span id="counter"></span>
    <button onclick="btnClicked()">increment</button>
</div>

@* <script type="module" src="~/esbuild/build/app.js"></script>
<script type="module" src="~/esbuild/build/another.js"></script> *@

<script type="module" src="~/dist/index.js"></script>

<script src="~/js/state.js"></script>

<script>
    const counterState = new Observable(0);

    counterState.subscribe(newState => {
        console.log(newState);
        let counter = document.getElementById("counter");
        counter.innerHTML = newState;
    });

    function btnClicked(event) { 
        console.log("test");
        counterState.state++;
    }
</script>