@{
    ViewData["Title"] = "Home Page";
}

<link href="~/vite/dist/index.css" rel="stylesheet" type="text/css"/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div id="root"></div>
<div id="another"></div>

@* <script type="module" src="~/vite/dist/main.js" > </script>
<script type="module" src="~/vite/dist/test.js" ></script> *@

<script type="module" src="~/esbuild/build/app.js"></script>
<script type="module" src="~/esbuild/build/another.js"></script>